@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Colors */
$SectionBorderColor: rgb(57, 82, 190);
$backColor: #FFFFFF99;
$textShadow: #656868;
$hrShadow: #FFFFFFCC;
$borderBotColor: rgb(50, 168, 109);
// -------------------------------------

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(./backgroundImage/dark/cobalt.png);
    margin: 0px;
    padding: 0px;

    h1,h2,h3,p {
        margin: 0px;
        padding: 0px 10px 0px 10px;
    }

    hr {
        margin: 0px 0px 10px 0px;
        padding: 0px;
    }

    h1 {
        margin: 10px 0px 5px 0px;
    }

    h2 {
        margin: 0px 0px 10px 0px;
    }

    p {
        margin: 0px 0px 10px 0px;
    }

    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 100%;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    gap: 30px;

    &__col {
        height: 100%;
        width: 50%;
        box-sizing: border-box;
        box-shadow: 3px -7px 9px 0px rgba(50, 50, 50, 1);
    }
}

.window1 {
    background-image: url(./backgroundImage/white/circles.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    text-shadow: 0px 0px 5px $textShadow;

    // container img and avatar img at window1
    &__imgContainer1 {
        height: auto;
        overflow: hidden;

        .window1__imgAvatar {
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
            border: rgb(73, 73, 206) dashed;
            box-sizing: border-box; 
        }
    }
    // -------------------------------------

    &__hrHeader {
        margin-bottom: 10px;
        box-shadow: 0px -20px 30px 5px $hrShadow,
                    0px 45px 62px 15px $hrShadow;
    }

    &__upPaw {
        animation: jump 2s infinite;
        
        &--second {
            animation-delay: 1s;
        }
    }
}

.window2 {
    background-image: url(./backgroundImage/white/scratch.png);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
    align-items: center;

    &__headerWithAnimation {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    &__animatedPaw {
        height: 36px;
        width: 36px;
        animation: rotate 2s infinite;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__sectionCard {
        margin-bottom: 20px;

        .window2__sectionCardTitle {
            text-align: center;
        }
    }

    &__sections {
        background-color: $backColor;
        position: relative;
        margin: 0px 0px 15px 0px;
        padding: 10px 0px 10px 0px;
        border: 5px ridge $SectionBorderColor;
    }

    // Thunder img at the end of scroll
    &__imgContainer2 {
        overflow: hidden;

        .window2__imgEndFoto {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-sizing: border-box;
        }
    }
    // -------------------------------------

    &__endTextFoto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);        
    }

    100% {
        transform: rotateY(180deg);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}



@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        font-size: 80%;     
    }
}

@media (max-width: 767px) {
    .container {
        font-size: 70%;
        max-width: none;
        padding: 50px 10px 50px 10px;
        flex-direction: column;
        justify-content: space-between;
        height: auto;    
    }

    .window1, .window2 {
        margin: 0px 0px 50px 0px;
        width: 100%; 
        height: auto;
        overflow-y: unset;
    }

    .window2 {
        margin: 0px;
    }

    .window1__imgContainer1 {
        max-height: 250px;

        .window1__imgAvatar {
            max-height: 100%;
        }
    }
}