@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
/* Colors */
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(./backgroundImage/dark/cobalt.png);
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body h1, body h2, body h3, body p {
  margin: 0px;
  padding: 0px 10px 0px 10px;
}

body hr {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

body h1 {
  margin: 10px 0px 5px 0px;
}

body h2 {
  margin: 0px 0px 10px 0px;
}

body p {
  margin: 0px 0px 10px 0px;
}

.container {
  max-width: 100%;
  padding: 50px 50px 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  gap: 30px;
}

.container__col {
  height: 100%;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px -7px 9px 0px #323232;
          box-shadow: 3px -7px 9px 0px #323232;
}

.window1 {
  background-image: url(./backgroundImage/white/circles.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  text-shadow: 0px 0px 5px #656868;
}

.window1__imgContainer1 {
  height: auto;
  overflow: hidden;
}

.window1__imgContainer1 .window1__imgAvatar {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: #4949ce dashed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.window1__hrHeader {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px -20px 30px 5px #FFFFFFCC, 0px 45px 62px 15px #FFFFFFCC;
          box-shadow: 0px -20px 30px 5px #FFFFFFCC, 0px 45px 62px 15px #FFFFFFCC;
}

.window1__upPaw {
  -webkit-animation: jump 2s infinite;
          animation: jump 2s infinite;
}

.window1__upPaw--second {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.window2 {
  background-image: url(./backgroundImage/white/scratch.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window2__headerWithAnimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.window2__animatedPaw {
  height: 36px;
  width: 36px;
  -webkit-animation: rotate 2s infinite;
          animation: rotate 2s infinite;
}

.window2__animatedPaw img {
  height: 100%;
  width: 100%;
}

.window2__sectionCard {
  margin-bottom: 20px;
}

.window2__sectionCard .window2__sectionCardTitle {
  text-align: center;
}

.window2__sections {
  background-color: #FFFFFF99;
  position: relative;
  margin: 0px 0px 15px 0px;
  padding: 10px 0px 10px 0px;
  border: 5px ridge #3952be;
}

.window2__imgContainer2 {
  overflow: hidden;
}

.window2__imgContainer2 .window2__imgEndFoto {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.window2__endTextFoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    font-size: 80%;
  }
}

@media (max-width: 767px) {
  .container {
    font-size: 70%;
    max-width: none;
    padding: 50px 10px 50px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  .window1, .window2 {
    margin: 0px 0px 50px 0px;
    width: 100%;
    height: auto;
    overflow-y: unset;
  }
  .window2 {
    margin: 0px;
  }
  .window1__imgContainer1 {
    max-height: 250px;
  }
  .window1__imgContainer1 .window1__imgAvatar {
    max-height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */